.menu_home{
    padding:10%;
    height: 100%; 
    
}
.painel{   
    margin-top: 10%;
    display: flex;    
    align-items: center;
    justify-content: center;   
    
}

.botao{
    width:70px;
    height:100px;
    margin-right: 20px;    
    margin-top: 20%;   
    margin-left: 1%;  
}

#formulario{
  margin-top:5%;  
  margin-bottom:5%;  
  padding-left: 5%;
  padding-right: 5%;
  
}

.col-2{
    max-width:50%;
    margin-bottom: 20px;
}

.col-3{
    max-width:25%;
    margin-bottom: 20px;
}

.col-4{
    max-width:15%;
    margin-bottom: 20px;
}

.filtro{    
    display: flex;    
    gap: 10px;
    align-items: center;
    justify-content: left;        
}

.total{
    display: flex;    
    gap: 10px;    
    align-items: center;
    justify-content: center;  
    margin-bottom: 2%;     
}

.total-pagar{
    height: 30%;
    width: 30%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: red;
    color: aliceblue;
}

.total-pago{    
    height: 30%;
    width: 30%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: aliceblue;
    background-color: blue;    
}

#compet{
    width: 30%;
}
@media (max-width:570px){
    .painel{                     
        flex-wrap: wrap;
    }
    .filtro{    
        flex-wrap: wrap;
    }
}

